<h1>ランキング</h1>
<br>
<%@all_ranks.each_with_index do |post_image, i| %>

  <%= attachment_image_tag post_image, :image %>
　<p>第<%= i+1 %>位
　<%= link_to post_image_path(post_image.id),class:"no-underline" do %>
　<%= post_image.game_name %></p>
　　<% end %>
　<p>説明：<%= post_image.caption %></p>
　<br><p><%= link_to "#{post_image.post_reviews.count} レビュー", post_image_path(post_image.id) %></p>

　<br>
<% end %>

<%= paginate @post_images %>