<h1>ランキング</h1>
<br>

<% @all_ranks.each_with_index do |post_image, i| %>
    <div class="row mb-2" style="border-bottom: 1px solid #000;">
        <div class="col-md-4">
            <h3>
                第<%= i+1 %>位
            </h3>
        </div>
        <div class="col-md-8">
            <%= link_to post_image_path(post_image.id),class:"no-underline" do %>
                <h4>
                    <%= post_image.game_name %>
                </h4>
            <% end %>
            <p>
                説明：<%= post_image.caption %>
            </p>
            <div class="mb-3">
                <% post_image.tags.each do |tag| %>
                    <span class="badge badge-secondary mr-1">
                        <%= tag.tag_name %>
                    </span>
                <% end %>
            </div>
            <%= attachment_image_tag post_image, :image,:fill,500,350, fallback: "no_image.jpg",size:'450x300', class: 'img-fluid' %>
            <hr>
            <p><%= link_to "#{post_image.post_reviews.count} 件のレビュー", post_image_path(post_image.id) %></p>
        </div>
    </div>
<% end %>

<%= paginate @post_images %>