<!DOCTYPE html>
<html>
  <head>
    <title>GamePost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--管理者でログインしている場合-->
   <% if admin_signed_in? %>
   <li>
       <%= link_to "ログアウト", destroy_member_session_path, method: :delete %>
   </li>
   　<!--ログインしている場合-->
   <% elsif member_signed_in? %>
   <li>
        <%= link_to '投稿フォーム', new_post_image_path %>
   </li>
   <li>
       <%= link_to "ログアウト", destroy_member_session_path, method: :delete %>
   </li>
   <li>
       <%= link_to"お問い合わせ", contacts_path %>
   </li>
    <!--ログインしてない場合-->
  <% else %>
   <li>
       <%= link_to "新規登録", new_member_registration_path %>
   </li>
   <li>
       <%= link_to "ログイン", new_member_session_path %>
   </li>
   <li>
       <%= link_to"お問い合わせ", contacts_path %>
   </li>
   <% end %>
   <%= yield %>
  </body>
  <footer></footer>
</html>
